@model IWantMyMummy.Models.BurialQuadrant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1>Additional Quadrant Details</h1>
    <br /><br />

    <div>
        <hr />
        <dl class="row">
        </dl>
    </div>
    <div>
        <a asp-action="Index">Back to Quadrants</a>
    </div>
</div>