@model IWantMyMummy.Models.Image

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container viewContainer">

    <h1>Edit Image Sample</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ImageId" />
                <div class="form-group">
                    <label asp-for="BurialSquareId" class="control-label">Burial Square ID</label>
                    <select asp-for="BurialSquareId" class="form-control" asp-items="ViewBag.BurialSquareId"></select>
                    <span asp-validation-for="BurialSquareId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BurialSubplot" class="control-label">Burial Subplot</label>
                    <select asp-for="BurialSubplot" class="form-control" asp-items="ViewBag.BurialSubplot"></select>
                    <span asp-validation-for="BurialSubplot" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image1" class="control-label">New Image</label>
                    <div id="uploadImage">
                        <input type="file" asp-for="Image1" class="form-control" id="oFile" runat="server" name="oFile" />
                        <asp:button id="btnUpload" type="submit" text="Upload" runat="server"></asp:button>
                        <asp:Panel ID="frmConfirmation" Visible="False" Runat="server">
                            <asp:Label id="lblUploadResult" Runat="server"></asp:Label>
                        </asp:Panel>
                    </div>

                    <span asp-validation-for="Image1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageDescription" class="control-label">Image Description</label>
                    <input asp-for="ImageDescription" class="form-control" />
                    <span asp-validation-for="ImageDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
