@model BurialInformationViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<h4>Burial</h4>
<hr />
<h2>CreateWith</h2>
<div class="row">
    <form asp-action="CreateWith" method="get">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.Burial.BurialSquareId" class="control-label"></label>

                <select asp-for="SelectedSquareId" class="form-control">
                    <option value="0">Select a Square</option>
                    @foreach (var Sid in Model.BurialSquare)
                    {
                        <option>@Sid.BurialSquareId</option>
                    }
                </select>
                <p>
                    <a asp-controller="BurialSquares" asp-action="Create">Create New Square</a>
                </p>
            </div>
        </div>

        <div class="form-group">
            <!--button to go to subplot-->
            <input type="submit" value="Continue With Subplot" class="btn btn-primary" />
            <p>
                <a asp-controller="BurialQuadrants" asp-action="Create">Create New Subplot</a>
            </p>
        </div>
    </form>

    <!--make this as two columns one side for creating with subplot and one for without-->

    <br />
    <h2>CreateWithout</h2>
    <form asp-action="CreateWithout" method="get">
        <div class="form-group">
            <label asp-for="@Model.Burial.BurialSquareId" class="control-label"></label>

            <select asp-for="SelectedSquareId" class="form-control">
                <option value="0">Select a Square</option>
                @foreach (var Sid in Model.BurialSquare)
                {
                    <option>@Sid.BurialSquareId</option>
                }
            </select>

        </div>
        <div class="form-group">
            <!--button to go without subplot-->
            <input type="submit" value="Continue Without Subplot" class="btn btn-primary" />
            <p>
                <a asp-controller="BurialQuadrants" asp-action="Create">Create New Subplot</a>
            </p>
        </div>

    </form>


</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
