@using Microsoft.AspNetCore.Identity
@using IWantMyMummy.Areas.Identity.Data

@inject SignInManager<IWantMyMummyUser> SignInManager
@inject UserManager<IWantMyMummyUser> UserManager

<div class="bgImage container-fluid"></div>




