@using Microsoft.AspNetCore.Identity
@using IWantMyMummy.Areas.Identity.Data


@{
    ViewData["Title"] = "Home";
}

@inject SignInManager<IWantMyMummyUser> SignInManager
@inject UserManager<IWantMyMummyUser> UserManager
<img class="bgImage" src="~/img/pyramids-2159286_1920.jpg" />


<div class="text-center">
    <h1>About The Project</h1>
</div>
<br /><br />
<div class="container words">
    <div class="row texts">
        <div class="col col1">Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been under archeological investigation (primarily by BYU researchers) for over 25 years. The excavation has garnered international attention because of the interesting insights gained by studying the Fag el-Gamous mummies. Detailed background information on this site can be found in the academic article “Rethinking burial dates at a Graeco-Roman Cemetery: Fag el-Gamous, Fayoum, Egypt.”</div>
        <div class="col col2">During multiple years of study, researchers have excavated more than 1,000 mummies and collected data in field notes, spreadsheets, and simple databases about each mummy’s location, physical orientation in the ground, burial depth, hair color, wrapping (including information about the textiles used), gender, age, bone (including skull and teeth) dimensions, items accompanying the mummy, and more. And, of course, there are many, many photographs. Offsite, researchers have performed a variety of analyses on the items excavated including carbon dating, DNA sequencing, and others.</div>
    </div>
</div>

<div class="text-center">
    <h2>Interested in Archaeology?</h2>
    <h3>Watch the Video Below</h3>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/_BDG-lRI59w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>








