@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container viewContainer">
    <h1>Mummy Jokes</h1>
    <br /><br />

    <div class="row">
        <!--JOKE 1-->
        <div class="col joke joking">
            <h4 class="jokeLine">What is a Mummies favorite type of Music?</h4>

            <p class="text-center">
                <a class="btn btn-primary" data-toggle="collapse" href="#joke1" role="button" aria-expanded="false" aria-controls="joke1">
                    View Answer
                </a>
            </p>
            <div class="collapse" id="joke1">
                <div class="card card-body w-auto font-weight-bold">
                    Wrap Music
                </div>
            </div>
        </div>
        <div class="col joke joking">
            <!--JOKE 2-->
            <h4 class="jokeLine">Why was the mummy so tense?</h4>

            <p class="text-center">
                <a class="btn btn-primary" data-toggle="collapse" href="#joke2" role="button" aria-expanded="false" aria-controls="joke2">
                    View Answer
                </a>
            </p>
            <div class="collapse" id="joke2">
                <div class="card card-body w-auto font-weight-bold">
                    They were all wound up.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col joke joking">
            <!--JOKE 3-->
            <h4 class="jokeLine">Why are mummys scared of vacation?</h4>
            <p class="text-center">
                <a class="btn btn-primary" data-toggle="collapse" href="#joke3" role="button" aria-expanded="false" aria-controls="joke3">
                    View Answer
                </a>
            </p>
            <div class="collapse" id="joke3">
                <div class="card card-body w-auto font-weight-bold">
                    They're afraid to unwind.
                </div>
            </div>
        </div>
        <div class="col joke joking">
            <!--JOKE 4-->
            <h4 class="jokeLine">Did you hear they found a mummy without bandages?</h4>

            <p class="text-center">
                <a class="btn btn-primary" data-toggle="collapse" href="#joke4" role="button" aria-expanded="false" aria-controls="joke4">
                    View Answer
                </a>
            </p>
            <div class="collapse" id="joke4">
                <div class="card card-body w-auto font-weight-bold">
                    Archeologists think they started the mummification process, but didn't have time to wrap it up.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col joke joking">
            <!--JOKE 5-->
            <h4 class="jokeLine">When do mummies eat breakfast?</h4>
            <p class="text-center">
                <a class="btn btn-primary" data-toggle="collapse" href="#joke5" role="button" aria-expanded="false" aria-controls="joke5">
                    View Answer
                </a>
            </p>
            <div class="collapse" id="joke5">
                <div class="card card-body w-auto font-weight-bold">
                    Once they catch you.
                </div>
            </div>
        </div>
        <div class="col joke joking">
            <!--JOKE 6-->
            <h4 class="jokeLine">Did you hear about the scary couple in prom this year?</h4>

            <p class="text-center">
                <a class="btn btn-primary" data-toggle="collapse" href="#joke6" role="button" aria-expanded="false" aria-controls="joke6">
                    View Answer
                </a>
            </p>
            <div class="collapse" id="joke6">
                <div class="card card-body w-auto font-weight-bold">
                    It was a mummy and his ghoul-friend.
                </div>
            </div>
        </div>
    </div>
</div>






