@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container viewContainer">
    <h1>Mummy Jokes</h1>
    <br /><br />

    <div class="row">
        <!--JOKE 1-->
        <div class="col joke">
            <h4 class="jokeLine">What is a Mummies favorite type of Music?</h4>

            <p class="text-center">
                <a class="btn btn-primary" data-toggle="collapse" href="#joke1" role="button" aria-expanded="false" aria-controls="joke1">
                    View Answer
                </a>
            </p>
            <div class="collapse" id="joke1">
                <div class="card card-body w-auto font-weight-bold">
                    Wrap Music
                </div>
            </div>
        </div>
        <div class="col joke">
            <!--JOKE 2-->
            <h4 class="jokeLine">What is a Mummies favorite type of Music?</h4>

            <p class="text-center">
                <a class="btn btn-primary" data-toggle="collapse" href="#joke2" role="button" aria-expanded="false" aria-controls="joke2">
                    View Answer
                </a>
            </p>
            <div class="collapse" id="joke2">
                <div class="card card-body w-auto font-weight-bold">
                    Wrap Music
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col joke">
            <!--JOKE 3-->
            <h4 class="jokeLine">What is a Mummies favorite type of Music?</h4>
            <p class="text-center">
                <a class="btn btn-primary" data-toggle="collapse" href="#joke3" role="button" aria-expanded="false" aria-controls="joke3">
                    View Answer
                </a>
            </p>
            <div class="collapse" id="joke3">
                <div class="card card-body w-auto font-weight-bold">
                    Wrap Music
                </div>
            </div>
        </div>
        <div class="col joke">
            <!--JOKE 4-->
            <h4 class="jokeLine">What is a Mummies favorite type of Music?</h4>

            <p class="text-center">
                <a class="btn btn-primary" data-toggle="collapse" href="#joke4" role="button" aria-expanded="false" aria-controls="joke4">
                    View Answer
                </a>
            </p>
            <div class="collapse" id="joke4">
                <div class="card card-body w-auto font-weight-bold">
                    Wrap Music
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col joke">
            <!--JOKE 5-->
            <h4 class="jokeLine">What is a Mummies favorite type of Music?</h4>
            <p class="text-center">
                <a class="btn btn-primary" data-toggle="collapse" href="#joke5" role="button" aria-expanded="false" aria-controls="joke5">
                    View Answer
                </a>
            </p>
            <div class="collapse" id="joke5">
                <div class="card card-body w-auto font-weight-bold">
                    Wrap Music
                </div>
            </div>
        </div>
        <div class="col joke">
            <!--JOKE 6-->
            <h4 class="jokeLine">What is a Mummies favorite type of Music?</h4>

            <p class="text-center">
                <a class="btn btn-primary" data-toggle="collapse" href="#joke6" role="button" aria-expanded="false" aria-controls="joke6">
                    View Answer
                </a>
            </p>
            <div class="collapse" id="joke6">
                <div class="card card-body w-auto font-weight-bold">
                    Wrap Music
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .jokes{
        width:20%;
    }

    .joke{
        margin-bottom:70px
    }

    .jokeLine{
        margin-bottom:20px;

    }


</style>





