@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<BurialSquare>

@foreach (var x in Model)
{
    <a class="btn btn-block @(x.BurialLocationNs == ViewBag.LocationNS ? "btn-success" : "btn-outline-secondary") "
       asp-action="Index" asp-controller="Home" asp-route-locationns="@x.BurialLocationNs">@x.BurialLocationNs</a>
    <br />
}